# 百炼平台（兼容 OpenAI API）
OPENAI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
OPENAI_API_KEY=sk-
# 模型
# LLM_MODEL=qwen3.5-plus
OPENAI_MODEL=glm-5
ASR_MODEL=qwen3-asr-flash
TTS_MODEL=qwen3-tts-flash
TTS_VOICE=Cherry